<app-header></app-header>
<mat-card class="price-card" *ngIf="isCart">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <mat-icon>shopping_cart</mat-icon>
        </div>
        <mat-card-title>
            Shopping Cart
        </mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <div id="content">
            <div id="left">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="isCart">
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> 
                            <input type="number" value="1" min="1" max="100" step="1" matInput class="quantity" [(ngModel)]="element.quantity" (ngModelChange)="totalChange()">
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="image_url">
                        <th mat-header-cell *matHeaderCellDef> Product </th>
                        <td mat-cell *matCellDef="let element">
                            <img style="max-height: 15vh;" src="{{element.image_url}}" alt="Shopping images">
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Product Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{(element.quantity * element.price) | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{total$ | async | currency }} </td>
                        <!-- {{total$ | async | currency }} -->
                    </ng-container>
                    <ng-container matColumnDef="remove">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                            <mat-icon style="cursor: pointer !important;" (click)="onDelete(element)">delete</mat-icon>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedRow(row);" style="cursor: pointer;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
            </div>
            <div id="right">
                <button class="a-button-primary" [routerLink]="'../address'">Continue to buy</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card style="text-align: center;" class="price-card" *ngIf="!isCart">
    <h3><b>Oh ho! Your Basket is empty!!</b></h3><br />
    <img style="width: 50vw; height: 50vh;" src="/assets/empty_cart.svg" alt="Shopping images"><br />
    <a style="text-decoration: none;" [routerLink]="'../product'" routerLinkActive="active">Click me to continue
        shopping..</a>
</mat-card>