<app-header></app-header>
<mat-card class="example-card" *ngIf=previewValues>
    <mat-card-content>
        <div id="content">
            <div id="left">
                <div>
                    <img title="Click to preview" class="imgcss" id="main" src="{{previewValues.image_url}}"
                        alt="Shopping images">
                </div>
            </div>

            <div id="right">
                <h5 class="heading">{{previewValues.name}}</h5> <br />
                <span style="font-size: 16px; font-weight: 700;">Price: {{previewValues.price | currency }}</span>
                <br /> <br />
                <span class="qty">Qty:</span>
                <button (click)="decrement(previewValues.id, previewValues.quantity)">-</button>
                <input type="text" min="0" max="100" step="1" matInput class="quantity"
                    [(ngModel)]="quantity"> 
                    <button (click)="increment(previewValues.id, previewValues.quantity)">+</button><br /><br />
            </div>
        </div>
        <ng-template #loadingMessage>
            <div>Loading products...</div>
        </ng-template>
    </mat-card-content>
</mat-card>